<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

{% if alunos %}
<table class="table">
    <tr>
        <th>Ação</th>
        <th>Nome</th>
        <th>Email</th>
    </tr>
    {% for aluno in alunos %}
    <tr>
        <td>
            <a href="{% url 'aluno' id=aluno.id %}" class="btn btn-primary btn-sm">Visualizar</a>
        </td>
        <td>{{ aluno.nome }}</td>
        <td>{{ aluno.email }}</td>
    </tr>
    {% endfor %}

</table>
{% else %}

<p>Sem alunos para mostrar no momento</p>

{% endif %}

{% endblock %}
